<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="layout :: htmlhead" th:with="title='EliteBet | Auswertung'"></head>

<body>
<div th:replace="layout :: navbar">(navbar)</div>

<div class="container">
    <div class="page-header">
        <h1>Gesamtauswertung <span th:text="${teams.leagueCaption}"></span></h1>
    </div>

    <div class="panel panel-warning">
        <div class="panel-heading">Wochenauswertung</div>
        <div class="panel-body">
            <table class="table table-condensed table-hover table-responsive">
                <tr>
                    <td>1</td>
                    <td>Meike</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Jörn</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Johannes</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Julia</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Aktuelle Tabelle</div>
        <div class="panel-body">
            <table class="table table-condensed table-hover table-responsive">
                <tr th:each="team,iter : ${teams.standing}">
                    <td th:text="${iter.count}" class="col-sm-1"></td>
                    <td class="col-sm-1"><img th:src="@{${team.crestURI}}" width="16px" /> </td>
                    <td th:text="${team.teamName}" class="col-sm-10"></td>
                </tr>
            </table>
        </div>
    </div>

</div>

<div th:include="layout :: footer">(footer)</div>

</body>
</html>