<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="layout :: htmlhead" th:with="title='EliteBet | Auswertung'"></head>

<body>
<div th:replace="layout :: navbar">(navbar)</div>

<div class="container">
    <div class="page-header">
        <h1>Gesamtauswertung</h1>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">Wochenauswertung</div>
        <div class="panel-body">
            <table class="table table-condensed table-hover table-responsive">
                <thead>
                <tr>
                    <th>Platz</th>
                    <th>Name</th>
                    <th>Σ</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="entry : ${rankingmap}">
                    <td th:text="${entry.key}" class="col-sm-1"></td>
                    <td th:text="${#strings.capitalizeWords(entry.value.name)}" class="col-sm-1"></td>
                    <td th:text="${entry.value.punktzahl}" class="col-sm-10"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Aktuelle Tabelle</div>
        <div class="panel-body">
            <table class="table table-condensed table-hover table-responsive">
                <tr th:each="team : ${teams}">
                    <td th:text="${team.value}" class="col-sm-1"></td>
                    <td th:text="${team.key}" class="col-sm-11"></td>
                </tr>
            </table>
        </div>
    </div>

</div>

<div th:include="layout :: footer">(footer)</div>

</body>
</html>