<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="layout :: htmlhead" th:with="title='EliteBet | Tipps'"></head>

<body>
<div th:replace="layout :: navbar">(navbar)</div>

<div class="container-fluid">
    <div class="page-header">
        <h1>Tippübersicht</h1>
    </div>
    <div class="row">
    <div class="panel panel-warning col-sm-3">
        <div class="panel-heading">Tipp: Meike</div>
        <div class="panel-body">
            <table class="table table-condensed table-hover table-responsive">
                <tr>
                    <td>1</td>
                    <td>BVB</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Schalke</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="panel panel-warning col-sm-3">
        <div class="panel-heading">Tipp: Julia</div>
        <div class="panel-body">
            <table class="table table-condensed table-hover table-responsive">
                <tr>
                    <td>1</td>
                    <td>BVB</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Schalke</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="panel panel-warning col-sm-3">
        <div class="panel-heading">Tipp: Jörn</div>
        <div class="panel-body">
            <table class="table table-condensed table-hover table-responsive">
                <tr>
                    <td>1</td>
                    <td>BVB</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Schalke</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="panel panel-warning col-sm-3">
        <div class="panel-heading">Tipp: Johannes</div>
        <div class="panel-body">
            <table class="table table-condensed table-hover table-responsive">
                <tr>
                    <td>1</td>
                    <td>BVB</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Schalke</td>
                </tr>
            </table>
        </div>
    </div>
    </div>
</div>

<div th:include="layout :: footer">(footer)</div>

</body>
</html>